.terminator-terminal-window notebook tab {
    background-color: #000;
    padding: 0;
    border: 0;
    border-style: solid;
    border-width: 0px;
}

.terminator-terminal-window notebook tab:checked {
    background-color: #000;
    background-image: none;
}

.terminator-terminal-window notebook tab label {
    color: #808080;
}

.terminator-terminal-window notebook tab:checked label {
    color: #ddd;
    font-weight: 500;
}

.terminator-terminal-window notebook tab button {
    padding: 0;
    background-color: transparent;
    color: #f00;
}

.terminator-terminal-window notebook header {
    background-color: #808080;
}

.terminator-terminal-window notebook tab button:hover {
  border: 0;
  background-image: none;
  border-color: #000;
  border-style: none;
  border-width: 0px;
}